/* Vollbild schwarzer Hintergrund mit Text in der Mitte */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
/* Sterne-Effekt */
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
  animation: moveStars 60s linear infinite;
  z-index: 0;
}

@keyframes moveStars {
  from { background-position: 0 0; }
  to { background-position: -10000px 10000px; }
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  cursor: pointer;
  transition: opacity 1s ease;
}

#intro h1 {
  font-size: 1.5rem;
  opacity: 0.8;
  animation: blink 1.5s infinite;
}

/* kleiner blink-effekt */
@keyframes blink {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 0.3; }
}

/* Hauptseite */
#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, #0a0a0a 0%, #000 100%);
  animation: fadeIn 2s ease;
  font-family: "Segoe UI", sans-serif;
  color: #000;
  overflow-y: auto;
  z-index: 2;
  text-align: center;
  padding: 40px;
}

.container {
  max-width: 600px auto;
  margin: 80px auto;
  background: rgba(179, 47, 47, 0.404);
  padding: 30px;
  border-radius: 70px;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.3);
}

.profilbild {
  border-radius: 50%;
  margin: 20px 0;
}

button {
  background-color: #ff00dd;
  color: #333;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #00ff22;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


