body {
  background: linear-gradient(to bottom right, #7a3f3f, #8b5151);
  font-family: "Segoe UI", sans-serif;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  background: rgba(65, 30, 30, 0.404);
  padding: 30px;
  border-radius: 70px;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.3);
}

.profilbild {
  border-radius: 50%;
  margin: 20px 0;
}

button {
  background-color: #ff00dd;
  color: #333;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #00ff22;
}
